/* Removes the clear button from date inputs */
input[type="date"],input[type="time"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"],input[type="time"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"],input[type="time"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"],input[type="time"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"],input[type="time"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#div1{
    padding: 10px;
    margin-left: 15%;
}
b{
    font-style: inherit;
    font-family: sans-serif;
}