/*.container{
	background-color: #eff;
	height: 350px;
	width: 500px;
	margin-left:65%;
}*/

.message{
	background-color: #000;
	background:rgba(255,255,255,0.5);

	height: 50px;
	width: 440px;
	margin: 0 auto;
	text-align: center;
	/*color: #fff;*/
	font-family: Modesto,Helvetica,Rockwell,Bobber;
	line-height: 50px;
	font-size: 30px;
}

.wrapper{
	background-color: #fff;
	background:rgba(255,255,255,0.5);
	width: 400px;
	height: 250px;
	margin: 0 auto;
	padding-top: 50px;
	padding-left: 40px;
}

.container_footer{
	background-color: #fff;
	background:transparent;
	height: 50px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 70px;
	font-size: 15px;
}

body{
	background-image: url('../Images/login_bg1.jpg');        
    background-repeat: no-repeat;        
    position: relative;        
    width: 85%;            
    height: 610px;       
    margin-left: auto;      
    margin-right: auto;     
}

.form input{
	width: 90%;
	height: 40px;
	padding-top: 10px;
	margin-top: 10px;
}

.form input[type="text"], .form input[type="password"]{
	border-color: #000;
	border-top-style: none; 
	border-right-style: none;
	border-left-style: none;
}

.form input[type="text"]:focus, .form input[type="password"]:focus{
	border-color: #fcf;
	border-top-style: solid; 
	border-right-style: solid;
	border-left-style: solid;
}

.form input[type="submit"]{
	float: right;
	background-color: #gray;
	color: #000;
	height: 40px;
	width: 200px;
	margin-right: 40px;
}

.form input[type="submit"]:hover{
	float: right;
	background-color: #000;
	color: #fff;
	height: 40px;
	width: 200px;
	margin-right: 40px;
}