#t1{
	 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 53%;
    left: 15%;
    position: relative;
    padding: 24px;
    
}
#t1 th{

	
    text-align: center;
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #263238;
    color: white;
    padding-left: 8px;

}
#t1 tr:nth-child(even){
    background-color: #f2f2f2;
}
#t1 tr:hover{
	background-color: lightblue;
     color: white;

}
#t1 td{
    color: black;
}
#error{
    text-align: center;
    color: white;
}

body{
    background-color: #FAFAFA;        
    background-repeat: no-repeat;        
    position: relative;        
    /*width: 85%;            
    height: 610px; */      
    margin-left: auto;      
    margin-right: auto;     
}