/*nav{
    padding-left: 30%; 
    padding-bottom: 20px;
    width: 70%;
    float: right;
}*/

.nav{
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 60px;
    background-color: #212a34;
    /*text-align: center;*/
}

.dropLink1 {
    left: 5px;
    position: absolute;
    /*left: 100px;*/
}

.dropLink2 {
    left: 43%;
    position: absolute;
    /*left: 400px;*/
}

.dropLink3 {
    position: absolute;
    right: 5px; 
   /* left: 700px;*/
}

.nav a {
    font-family: Modesto,Helvetica,Rockwell,Bobber;
    text-decoration: none;
    line-height: 60px;
    color: #fff;
    font-size: 25px; 
    padding-bottom: 10px;   
}

.nav a:hover{
    font-size: 27.5px;
}

.nav button {
    font-family: Modesto,Helvetica,Rockwell,Bobber;
    text-decoration: none;
    color: #fff;
    font-size: 25px;  
    padding-bottom: 10px;
    margin-top: 1px;  
}

.nav button:hover{
    font-size: 27.5px;
}

/* Dropdown button */
.dropLink1 .dropbtn { 
    border: none;
    outline: none;
    color: white;
    background-color: #212a34;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    top: 60px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.dropdown-content1 a:hover {
    background-color: #000;
    color: #fff;
    font-size: 24px;
}

/* Show the dropdown menu on hover */
.dropLink1:hover .dropdown-content1 {
  display: block;
}

/* Show the dropdown menu on hover */
/*.dropdown-content1 .dropLink1:hover{
    display: block;
}*/

#t1{
    position: relative;
    left: 45%;
    text-align: center;
    top: 30%;
    margin: 0 auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 150%;
    padding: 24px;
}
#t1 th{
    left: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #263238;
    color: white;
    padding-left: 50px;

}
#t1 tr:nth-child(even){
    background-color: #f2f2f2;
}
#t1 tr:hover{
    background-color: lightblue;
     

}
#t1 td{
    color: black;

}
#error{
    text-align: center;
    color: white;
}

body{
    background-color: #FAFAFA;        
    background-repeat: no-repeat;        
    position: relative;        
    /*width: 85%;            
    height: 610px; */      
    margin-left: auto;      
    margin-right: auto;     
}


/*****************For making it responsive in mobile view*******************/
@media screen and (max-width: 500px){
    .nav a {
        font-size: 18px; 
        padding-bottom: 10px;   
    }

    .nav a:hover{
        font-size: 20px;
    }

    .nav button {
        font-size: 19px;  
        padding-bottom: 8px;
         
    }

    .nav button:hover{
        font-size: 20px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content1 {
        min-width: 150px;
    }

    /* Links inside the dropdown */
    .dropdown-content1 a {
        font-size: 14px;
    }

    .dropdown-content1 a:hover {
        font-size: 16px;
    }

    /* Show the dropdown menu on hover */
    .dropLink1:hover .dropdown-content1 {
      display: block;
    }
}
